body {
    margin: 0;
    overflow: hidden;
    overscroll-behavior: none;
}

#canvas {
    max-width: 100%;
    height: auto;
}

/* Title of the game in this case */
span {
    font-size: 80px;
    font-family: 'Fjalla One';
}

#menu {
    /* Positioning the menu */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Sizing or making the menu responsive */
    /* width: 30%; */
    /* -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; */
    padding: 5%;
    /* Decorating the menu */
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    border: rgba(0, 0, 0, 0.6) solid;
}

select {
    /* Button CSS */
    padding: 3%;
    border: solid 1px transparent;
    border-radius:10px;
    cursor: pointer;
    background-color:rgb(38, 38, 38);
    -webkit-font-smoothing: antialiased;
    /* Text inside CSS */
    text-align-last: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
    font-family: 'Montserrat';
}


option {
    text-align: left;
    font-family: 'Montserrat';
}

.non-select-list {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.btn {
    /* Button CSS */
    padding: 5%;
    margin: 3% 20%;
    border: solid 1px transparent;
    border-radius:10px;
    cursor: pointer;
    background-color:rgb(38, 38, 38);
    -webkit-font-smoothing: antialiased;
    /* Text inside CSS */
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    position: relative;
    color: white;
    font-family: 'Montserrat';
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}